.skills{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
}

.carouselContainer{
    padding: 1rem;
}

.card{
    max-width: 25rem;
    min-width: 25rem;
    margin: auto 1rem;
    text-align: center;
}

.skillimg{
    max-width: 20rem;
    object-fit: cover;
}

.exp{
    padding: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.exp-col-R{
    flex-basis: 60%;
    max-width: 50%;
    text-align: left;
}

.tab-titles{
    display: flex;
    margin: 2rem 0 4rem;
}

.tab-links{
    margin-right: 5rem;
    cursor: pointer;
    position: relative;
    color: #aaaaaa;
}

.tab-links::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 0.2rem;
    background: #6600cc;
    transition: .3s;
}

.tab-links.active-link{
    color: #fff;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 1rem 0;
    color: #fff;
}

.tab-contents ul li span{
    color: #6600cc;
    font-size: 2rem;
    font-weight: bold;
}

.tab-contents{
    display: none;
}

.tab-contents.activetab{
    display: block;
}

.exp-col-L img{
    max-width: 100%;
}

.tab-contents img{
    max-width: 25rem;
}

.bolded{
    font-weight: bold;
    font-size: 1.75rem;
}

@media (max-width: 850px){
    .exp{
        flex-direction: column;
    }

    .tab-titles {
        flex-direction: column;
        max-width: fit-content;
        line-height: 4rem;
        margin: 2rem 0;
    }

    .exp-col-R
    {
        text-align: left;
        max-width: fit-content;
    }

    .exp-col-L
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}