.IconButton{
        padding: 5rem;
        display: grid;
        grid-template-columns: repeat(auto-fit , 5rem);
        gap: 5rem;
        justify-content: left;
}

.iconButton:hover{
        opacity: 50%;
        cursor: pointer;
}

.IconButton img{
        padding: 1rem;
        max-width: 10rem;
}

.homePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    max-width: fit-content;
    border-radius: 3em;
    margin: auto;
    }

.profileimg {
    max-width: 35rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

@media (min-width: 1500px){
    .homePage{
    position: Absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    padding: 2rem;
    max-width: 100%;
    border-radius: 3em;
    }

    .homeIntro{
        text-align: Left;
        padding: 4rem;
        color: #fff;
        margin:auto;
        min-height: 50rem;
        max-width: fit-content;
    }

    .homeText {
        line-height: normal;
    }

    .profileimg {
        max-width: 50rem;
        bottom: 0rem;

    }
}