.homePage{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 80%;
    border-radius: 3em;
}

.homeIntro{
    text-align: Left;
    padding: 40px;
    color: #fff;
    line-height: 100px;
    height: 500px;
    max-width: fit-content;
}

.homeHello {
    font-size: 50px;
}

.homePosition {
    font-size: 72px;
}

.homeText {
    line-height: normal;
}

.IconButton{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit , 50px);
    gap: 50px;
    justify-content: left;
}

.iconButton:hover{
    opacity: 50%;
}